<anon-navbar/>
<main class="flex flex-col gap-8 max-w-md justify-center w-full mx-auto">
  <const/search=($global.url.searchParams)/>
  <const/message=search.get("message")/>
  <const/variant=(
    search.get("variant") === "success"
      ? ("success" as const)
      : ("error" as const)
  )/>
  <if=message>
    <app-alert variant=variant>
      ${message}
    </app-alert>
  </if>

  <magic-link-form/>
  <password-form/>
  <oauth-form/>
</main>
