import { buttonClass, type ButtonClassProps } from "./recipes";
export type Input = Marko.Input<"button"> & ButtonClassProps;

<const/{
  color,
  isLoading,
  shape,
  size,
  variant,
  class: className,
  ...rest
}=input/>

<const/recipeResult=buttonClass({
  className,
  color,
  isLoading,
  shape,
  size,
  variant,
})/>

<button ...rest class=recipeResult>
  <${input.renderBody}/>
</button>
