import { buildPath } from "../../../../utils/paths";
<app-navbar>
  <@start>
    <a href=buildPath({ path: "/" })>
      Home
    </a>
  </@start>
  <@end>
    <a href=buildPath({ path: "/api/auth/sign-out" })>
      Sign Out
    </a>
  </@end>
</app-navbar>
