<form class="flex flex-col gap-6" method="POST">
  <input type="hidden" name="provider" value="google">
  <input type="hidden" name="action" value="oauth">

  <h2 class="text-xl">
    Login with google
  </h2>

  <app-button color="primary">
    Send
  </app-button>
</form>
