import { buildPath } from "../../utils/paths";
<app-navbar>
  <@start>
    <app-anchor variant="ghost" size="lg" href=buildPath({ path: "/" })>
      Home
    </app-anchor>
  </@start>
  <@end>
    <app-anchor variant="ghost" href=buildPath({ path: "/sign-in" })>
      Sign In
    </app-anchor>
    <app-anchor variant="ghost" href=buildPath({ path: "/sign-up" })>
      Sign Up
    </app-anchor>
  </@end>
</app-navbar>
