import { buildPath } from "../../utils/paths";
<app-navbar>
  <@start>
    <a href=buildPath("/", {})>
      Home
    </a>
  </@start>
  <@end>
    <a href=buildPath("/sign-in", {})>
      Sign In
    </a>
    <a href=buildPath("/sign-up", {})>
      Sign Up
    </a>
  </@end>
</app-navbar>
