import { buildPath } from "../../utils/paths";
<app-navbar>
  <@start>
    <a href=buildPath({ path: "/" })>
      Home
    </a>
  </@start>
  <@end>
    <a href=buildPath({ path: "/sign-in" })>
      Sign In
    </a>
    <a href=buildPath({ path: "/sign-up" })>
      Sign Up
    </a>
  </@end>
</app-navbar>
